@using JovemProgramadorWeb1.Data.Repositorio;
@using JovemProgramadorWeb1.Data.Repositorio.Interfaces;
@inject IParticipacaoRepositorio participacaoRepositorio
@model List<Participacao>

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Eventos</title>
    <link rel="stylesheet" href="~/css/EstiloEventos.css">
</head>
<body>

    <div class="container">
        <h2>Lista de Eventos Participantes</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Data e Hora que foi confirmada a participação</th>
                    <th>Nome do Sócio</th>
                    <th>Nome do Evento</th>
                    <th>Remover Participaçao</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var participacao in Model)
                {
                    <tr>
                        <td>@participacao.dataHoraConfirmacao.ToString("dd/MM/yyyy, hh:mm:ss")</td>
                        <td>@participacaoRepositorio.ObterNomeSocio(participacao.codigoSocio)</td>
                        <td>@participacaoRepositorio.ObterNomeEvento(participacao.codigoEvento)</td>
                        <td>
                            <form method="post" asp-controller="Participacao" asp-action="ExcluirParticipacao" asp-route-codigoSocio="@participacao.codigoSocio" asp-route-codigoEvento="@participacao.codigo">
                                <button type="button" class="btn btn-danger" onclick="confirmarExclusao()">Excluir Participação</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <script>
        function confirmarExclusao() {
            if (confirm("Tem certeza que deseja excluir sua participação?")) {
                // Se o usuário confirmar, envie o formulário
                document.forms[0].submit(); // Use [0] se este for o primeiro formulário na página
            }
        }
    </script>
</body>
</html>
