@{
    Layout = "_LayoutDeslogado";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <style>
        .containerB {
            float:right;
        }

        .button-container {
            margin-bottom: 3%;
        }

        .button-container a {
            background-color: #060708;
            color: #ffffff;
        }
        .BoxMain {
            margin-top: 15%;
        }

        .Dados {
            display: grid;
            grid-template-columns: 2fr 1fr 1fr; 
            gap: 0.1%;
        }
        .col {
            margin-right: 1%;
            margin-left: 1%;
            padding: 2%;
        }
        .dados-container {
            text-align: left;
        }
        .dados-item {
            width: 70%;
            margin-bottom: 10px;
            border-bottom: 1px solid #ccc;
            padding-bottom: 1%;
            margin-left: 60%;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            margin-left: 60%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

    <link rel="stylesheet" type="text/css" media="screen" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <div class="BoxMain">
        <div class="containerB col-25">
            <div class="">
                <div class="col-6 button-container">
                    <a asp-controller="Participacao" asp-action="ParticipacaoIndex" asp-route-codigo="@Model.codigo" class="btn btn-large">
                        <i class="bi bi-calendar3"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                            <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" />
                            <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                        </svg>
                        <span>Eventos Participando</span>
                    </a>
                </div>
            </div>
            <div class="">
                <div class="col-6 button-container">
                    <a asp-controller="CadastrarDependentes" asp-action="CadastrarDependentesIndex" asp-route-codigo="@Model.codigo" class="btn btn-large">
                        <i class="bi bi-person-add"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                            <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5" />
                        </svg>
                        <span>Cadastrar dependentes</span>
                    </a>
                </div>
                <div class="col-6 button-container">

                    <a asp-controller="HomeController" asp-action="Index"  asp-route-codigo="@Model.codigo" class="btn btn-large">
                        <i class="bi bi-arrow-return-left"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5" />
                        </svg>
                        <span>Voltar</span>
                    </a>                    
                </div>
            </div>
        </div>
        <div class="Dados col-75">
            <div class="container dados-container">
                <table class="table">                    
                        <tr>
                            <th>Nome</th>
                            <td>@Model.nomeCompleto</td>
                        </tr>
                        <tr>
                            <th>CPF</th>
                            <td>@Model.cpf</td>
                        </tr>
                        <tr>
                            <th>Data de Nascimento</th>
                            <td>@Model.dataNascimento.ToString("dd/MM/yyyy")</td>
                        </tr>
                        <tr>
                            <th>Endereço</th>
                            <td>@Model.endereco</td>
                        </tr>
                        <tr>
                            <th>Telefone</th>
                            <td>@Model.telefone</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>@Model.email</td>
                        </tr>
                        <tr>
                            <th>Data adesão</th>
                            <td>@Model.dataAdesao.ToString("dd/MM/yyyy")</td>
                        </tr>                    
                </table>
            </div>
        </div>

    </div>
</body>
</html>

