@using JovemProgramadorWeb1.Data.Repositorio;
@using JovemProgramadorWeb1.Data.Repositorio.Interfaces;
@inject IFaturaRepositorio faturaRepositorio
@model List<Fatura>

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faturas</title>
    <style>
        table {
            border-collapse: collapse;
            width: 50%;
            margin: 5% auto 5%;
        }

        th, td {
            border: 1px solid black;
            padding: 5px;
            text-align: left;
            background-color: #f2f2f2;
        }

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0px;
            bottom: 5px;
            background-size: cover;
        }

        h2 {
            text-align: center;
            color: #333;
            margin-top: 3%;
        }

        .imprimir-button {
            text-align: center;
        }

        .linha-imprimir-button {
            text-align: center;
        }

        button {
            padding: 5px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

            button:hover {
                background-color: #45a049;
            }
        
    </style>
</head>
<body>

    <h2>Faturas</h2>

    <table>
        <thead>
            <tr>
                <th>Sócio</th>
                <th>Mês/Ano</th>
                <th>Pagamento</th>
                <th>Valor</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var fatura in Model)
                {
                    <tr>
                        <td>@faturaRepositorio.ObterNomeSocio(fatura.codigoSocio)</td>
                        <td>@fatura.mesAnoFatura</td>
                        <td>@(fatura.flagPagamento ? "Pago" : "Pendente")</td>
                        <td>@fatura.valor</td>
                        <td class="linha-imprimir-button">
                            <a asp-controller="Faturas" asp-action="ValidarFatura" asp-route-codigoSocio="@fatura.codigoSocio" asp-route-mesAnoFatura="@fatura.mesAnoFatura">Imprimir</a> @*onclick="imprimirLinha('linha@fatura.mesAnoFatura', '@faturaRepositorio.ObterNomeSocio(fatura.codigoSocio)', '@fatura.mesAnoFatura', '@fatura.valor')"*@
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6">Nenhuma fatura encontrada.</td>
                </tr>
            }
        </tbody>
    </table>
    
    <script>
        
        function imprimirLinha(idLinha, nomeSocio, mesAnoFatura, valor) {
            var linha = document.getElementById(idLinha);
            var janelaImpressao = window.open('', '', 'width=600,height=600');
            janelaImpressao.document.write('<html><head><title>Imprimir Fatura</title></head><body>');
            janelaImpressao.document.write('<h2>Fatura</h2>');
            janelaImpressao.document.write('<p>Sócio: ' + nomeSocio + '</p>');
            janelaImpressao.document.write('<p>Mês/Ano: ' + mesAnoFatura + '</p>');
            janelaImpressao.document.write('<p>Valor: ' + valor + '</p>');
            janelaImpressao.document.write('<table border="1">' + linha.innerHTML + '</table>');
            janelaImpressao.document.write('</body></html>');
            janelaImpressao.document.close();
            janelaImpressao.print();
        }
    </script>
</body>
</html>