@model List<Aluno>

@if (ViewData["MsgErro"] != null)
{
    <div class="alert-danger">
        @ViewData["MsgErro"]
    </div>
}
@if (ViewData["MsgSucess"] != null)
{
    <div class="alert-success">
        @ViewData["MsgSucess"]
    </div>
}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }
</style>

<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Cep</th>
            <th>Cpf</th>
            <th>Idade</th>
            <th>Matricula</th>
            <th>Endereço</th>
            <th>Editar</th>
            <th>Remover</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Aluno aluno in Model.OrderBy(a => a.Nome))
        {
            <tr>
                <td>@aluno.Nome</td>
                <td>@aluno.Email</td>
                <td>@aluno.Cep</td>
                <td>@aluno.CPF</td>
                <td>@aluno.Idade</td>
                <td>@aluno.Matricula</td>
                <td>
                    <div class="d-grid gap-2 d-md-block">
                        <a type="submit" class="btn btn-primary" role="button" asp-controller="Aluno" asp-action="BuscarEndereco" asp-route-cep="@aluno.Cep">Endereco</a>
                    </div>
                </td>
                <td>
                    <button class="btn btn-primary editar-btn"
                            data-codigo="@aluno.Codigo"
                            data-nome="@aluno.Nome"
                            data-email="@aluno.Email"
                            data-cep="@aluno.Cep"
                            data-cpf="@aluno.CPF"
                            data-idade="@aluno.Idade"
                            data-matricula="@aluno.Matricula">
                        Editar
                    </button>
                </td>
                <td>
                    <form asp-controller="Aluno" asp-action="RemoverAluno" method="post">
                        <input type="hidden" name="alunosSelecionados" value="@aluno.Codigo" />
                        <button class="btn btn-danger" type="submit">Remover</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="text-center">
    <br>
    <a class="btn btn-primary" type="button" asp-controller="Aluno" asp-action="Adicionar">Adicionar Aluno</a>
    <a type="submit" class="btn btn-primary" role="button" href="~/Home/Index"> Voltar </a>
</div>

<!-- Modal de Edição -->
<div class="modal fade" id="editarModal" tabindex="-1" role="dialog" aria-labelledby="editarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Atualizar dados</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-controller="Aluno" asp-action="AtualizarAluno" method="post" id="editarForm">
                <div class="modal-body">
                    <input type="hidden" id="codigo" name="Codigo" /> <!-- Usando um campo oculto para armazenar o código do aluno -->
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" id="nome" name="Nome">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="Email">
                    </div>
                    <div class="form-group">
                        <label for="cep">CEP</label>
                        <input type="text" class="form-control" id="cep" name="Cep">
                    </div>
                    <div class="form-group">
                        <label for="cpf">CPF</label>
                        <input type="text" class="form-control" id="cpf" name="Cpf">
                    </div>
                    <div class="form-group">
                        <label for="idade">Idade</label>
                        <input type="number" class="form-control" id="idade" name="Idade">
                    </div>
                    <div class="form-group">
                        <label for="matricula">Matrícula</label>
                        <input type="text" class="form-control" id="matricula" name="Matricula">
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="salvarEdicao">Salvar</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Quando o botão "Editar" é clicado abre os dados abaixo
        $("button.editar-btn").click(function () {
            // Obtenha os dados do aluno a partir do click da linha
            var codigoAluno = $(this).data("codigo");
            var nomeAluno = $(this).data("nome");
            var emailAluno = $(this).data("email");
            var cepAluno = $(this).data("cep");
            var cpfAluno = $(this).data("cpf");
            var idadeAluno = $(this).data("idade");
            var matriculaAluno = $(this).data("matricula");

            // Preencha os campos do formulário no modal
            $("#codigo").val(codigoAluno);
            $("#nome").val(nomeAluno);
            $("#email").val(emailAluno);
            $("#cep").val(cepAluno);
            $("#cpf").val(cpfAluno);
            $("#idade").val(idadeAluno);
            $("#matricula").val(matriculaAluno);

            // Abra o modal
            $("#editarModal").modal("show");
        });

        $("#salvarEdicao").click(function () {
            // Obter o código do aluno do campo oculto
            var codigoAluno = $("#codigo").val();

            // Encontrar o formulário com base no código do aluno
            var formularioAluno = $("form#editarForm");

            // Enviar o formulário para o controlador
            formularioAluno.submit();
        });
    });
</script>

